<nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
  <div class="container">
      <div class="navbar-brand">
          <span class="navbar-logo">
              <a href="/">
                  <img src="assets/images/logo.png" alt="Mobirise" style="height: 3rem;">
              </a>
          </span>
          <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-7" href="/">Pine Analytica.</a></span>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <div class="hamburger">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
          </div>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-black display-4" href="/about">
                      About us</a></li>
              <li class="nav-item"><a class="nav-link link text-black display-4" href="/services">
                      Services</a></li>
                      <li class="nav-item dropdown"><a class="nav-link link text-black dropdown-toggle display-4" href="/services" data-toggle="dropdown-submenu" aria-expanded="false">Sector</a><div class="dropdown-menu"><a class="text-black dropdown-item display-4" href="/real-estate">Real Estate</a><a class="text-black dropdown-item display-4" href="/financial-services" aria-expanded="false">Financial Market</a><a class="text-black dropdown-item display-4" href="/cryptocurrency" aria-expanded="false">cryptocurrency</a><a class="text-black dropdown-item display-4" href="/health-care" aria-expanded="false">Health Care</a><a class="text-black dropdown-item display-4" href="/information-technology" aria-expanded="false">Infomation technology</a></div></li>
              <li class="nav-item dropdown"><a class="nav-link link text-black dropdown-toggle display-4" href="#" data-toggle="dropdown-submenu" aria-expanded="false">What we do</a><div class="dropdown-menu"><a class="text-black dropdown-item display-4" href="/investment-philosophy">Investment philosophy</a><a class="text-black dropdown-item display-4" href="/investment-process" aria-expanded="true">Investment Process</a></div></li>
              <li class="nav-item"><a class="nav-link link text-black display-4" href="/plans"> Plans</a>
              </li>
            </ul>
          
          <div class="navbar-buttons mbr-section-btn">
              <a class="btn btn-primary display-4" href="/users/login">Log In</a>
                  <a class="btn btn-primary display-4" href="/users/register">
                    Register</a>
          </div>
      </div>
  </div>
</nav>