<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.3.4, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.3.4, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>about</title>
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
  <section class="menu menu2 cid-stAxaKDqvg" once="menu" id="menu2-f">
    
    <% include ./partials/nav %>
</section>

<section class="header6 cid-stNG4FjljX" id="header6-10" style="background-image: url('./assets/images/background15.jpg')">

    

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);"></div>

    <div class="align-center container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>We move, lend, <strong style="color: #4f19e4;">invest</strong> and protect money for customers and clients worldwide </strong></h1>
<!--                 
                <p class="mbr-text mbr-white mbr-fonts-style display-7">
                    Mobirise is a free offline app for Windows and Mac to easily create small/medium websites, landing
                    pages, portfolios. 3500+ beautiful website blocks, templates and themes help you to start easily.
                </p> -->
            </div>
        </div>
    </div>
</section>

<section class="features16 cid-stBHPZ8OoJ" id="features17-h">
    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/sq1.jpg" alt="Mobirise">
                    </div>
                </div>
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-5">
                            <strong>About us</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            Pine Analytica is a company founded by International team of experts in project management and the financial markets, associated with highly trained staffs in the educational area with the purpose of helping people from all over the world to master the necessary knowledge of trading for success, supported by the most advanced technology and professionals oriented towards the achievement of building your goals and giving you the wonderful life of financial independence. Pine Analytica is a decentralized company that operates transparently. <br><br>
                            They manage capital and investments globally through strategic alliances with the most recognized institutions in the financial markets. The offices and business registers are located in Illinois, USA with professional traders networking in different countries across the world. We work hard to make sure our clients make the best trading and investment decisions. <br><br>

                            Our broad range of services enable you to get the best guidance, advice and resources to build a more profitable future. Our investors are our number one priority, our offices all over the world offer help, advice and guidance when you need it.

                        </p>
                        <div class="mbr-section-btn mt-3">
                            <a class="btn btn-primary display-4" href="/users/resgister">
                                Learn more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features15 cid-stBHQmadUS" id="features16-i">

    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-2">
                            What we do                       </h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            Our broad range of services enable you to get the best guidance, advice and resources to build a more profitable future. Our investors are our number one priority, our offices all over the world offer help, advice and guidance when you need it. <br><br>
                            For higher volumes, we also provide the Pine Analytica Finance Direct platform which offers enhanced features for advanced investors. When you choose Pine Analytica Finance, you are trading with a global private equity firm that is second to none. We work day and night to create and sustain an equity environment that helps everyone access the markets – from first-timers to those who’ve turned trading into a career. Build the future of technology.
                            <br><br>
                            For higher volumes, we also provide the Pine Analytica Finance Direct platform which offers enhanced features for advanced investors. When you choose Pine Analytica Finance, you are trading with a global private equity firm that is second to none. We work day and night to create and sustain an equity environment that helps everyone access the markets – from first-timers to those who’ve turned trading into a career. Build the future of technology
                        </p>
                        <div class="mbr-section-btn mt-3">
                            <a class="btn btn-primary display-4" href="/users/resgister">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/sq2.jpg" alt="Mobirise">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="form2 cid-stBHSA2dRk" id="form2-j">

    

    
    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form action="/"  class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="VqlGH4Gnzs6SDBmZjBEeTD2gpGBuxndc5TRBtopz8oGC3+Amyd3q7ZEFWN04YDhFVJg1IE2BYQXty0Y/ISUHIi7JSAf3Yz5gdRHsa+0jM96vaX55/LtDtZbOmRxxkJaG">
                    <div class="row">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling
                            out the form!</div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...! some
                            problem!</div>
                    </div>
                    <div class="dragArea row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h1 class="mbr-section-title mb-4 display-2">
                                <strong>Want to know more about us?</strong></h1>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p class="mbr-text mbr-fonts-style mb-5 display-7">Fill the form below to get started.</p>
                        </div>
                        <div class="col-lg col-md col-12 form-group" data-for="email">
                            <input type="text" name="name" placeholder="Name" data-form-field="name" class="form-control" id="name-form2-j">
                        </div>
                        <div class="col-lg col-md col-12 form-group" data-for="email">
                            <input type="email" name="email" placeholder="Email" data-form-field="email" class="form-control" id="email-form2-j">
                        </div>
                        <div class="mbr-section-btn col-md-auto col">
                            <button type="submit" class="btn btn-primary display-4">Start Now!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="footer1 cid-stAxw18Xy1" once="footers" id="footer1-g">

    <% include ./partials/footer %>

</section><section style="background-color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; color:#aaa; font-size:12px; padding: 0; align-items: center; display: none;"><a href="https://mobirise.site/h" style="flex: 1 1; height: 3rem; padding-left: 1rem;"></a><p style="flex: 0 0 auto; margin:0; padding-right:1rem;"><a href="https://mobirise.site/i" style="color:#aaa;">Built with Mobirise</a> builder</p></section><script src="assets/web/assets/jquery/jquery.min.js"></script>  <script src="assets/popper/popper.min.js"></script>  <script src="assets/tether/tether.min.js"></script>  <script src="assets/bootstrap/js/bootstrap.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/dropdown/js/nav-dropdown.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>  <script src="assets/theme/js/script.js"></script>  <script src="assets/formoid/formoid.min.js"></script>  
  
  <!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/606ec261f7ce182709383e59/1f2oaek03';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
</body>
</html>