
<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.3.4, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.3.4, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Home</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
  <section class="menu menu2 cid-stAxaKDqvg" once="menu" id="menu2-0">
    
    <% include ./partials/nav %>
</section>


<section class="header6 cid-stNG4FjljX" id="header6-10" style="background-image: url('./assets/images/plans.jpg')">

    

    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(0, 0, 0);"></div>

    <div class="align-center container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <strong><h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1">Let money fuel your life, not dictate it </strong></h1>
                
                <p class="mbr-text mbr-white mbr-fonts-style display-7">
                    We give you access to investments with typically low stock market correlation. With our income-generating products, you can push your ambitions forward.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="features1 cid-stM33JDkCw" id="features1-y" style="background-color: rgb(223, 223, 240);">
    

    
    <div class="container">
        
        <div class="row">
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-like mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>Your're in safe hands 
                            </strong></h5>
                        <p class="card-text mbr-fonts-style display-7">We’ve been supporting our customers through thick and thin over the years and intend to do so for many more years to come..</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-target mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>Draw on our expertise 
                            </strong></h5>
                        <p class="card-text mbr-fonts-style display-7">You can use the best thinking from across the whole of burpinvestment to help make your investment decisions.</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-paper-plane theme-2 mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>We're only a chat away
                        </strong></h5>
                        <p class="card-text mbr-fonts-style display-7">Our team can help explain how our investment services work so you can choose the best one for you.</p>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>

<section class="pricing2 cid-stNFKDAs9v" id="pricing2-z">
    

    
    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Investment Plans</strong></h4>
            <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5">get started with your first Investment plan</h5>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 align-center col-lg-4">
                <div class="plan">
                    <div class="plan-header">
                        <h6 class="plan-title mbr-fonts-style mb-3 display-5">
                            <strong>STARTER</strong>
                        </h6>
                        <div class="plan-price">
                            <p class="price mbr-fonts-style m-0 display-5"><strong>$50 - $499</strong></p>
                           
                        </div>
                    </div>
                    <div class="plan-body">
                        <div class="plan-list mb-4">
                            <ul class="list-group mbr-fonts-style list-group-flush display-7">
                                <li class="list-group-item">50% Return   </li>
                                <li class="list-group-item">After 24Hrs 
                                </li>
                                <li class="list-group-item">Deposit Included
                                </li>
                            </ul>
                        </div>
                        <div class="mbr-section-btn text-center">
                            <a href="/users/register" class="btn btn-primary display-4">Get started</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 align-center col-lg-4">
                <div class="plan">
                    <div class="plan-header">
                        <h6 class="plan-title mbr-fonts-style mb-3 display-5">
                            <strong>PREMIUM</strong>
                        </h6>
                        <div class="plan-price">
                            <p class="price mbr-fonts-style m-0 display-5"><strong>$500 - $999</strong></p>
                           
                        </div>
                    </div>
                    <div class="plan-body">
                        <div class="plan-list mb-4">
                            <ul class="list-group mbr-fonts-style list-group-flush display-7">
                                <li class="list-group-item">100% Return   </li>
                                <li class="list-group-item">After 48Hrs 
                                </li>
                                <li class="list-group-item">Deposit Included
                                </li>
                            </ul>
                        </div>
                        <div class="mbr-section-btn text-center">
                            <a href="/users/register" class="btn btn-primary display-4">Get started</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 align-center col-lg-4">
                <div class="plan">
                    <div class="plan-header">
                        <h6 class="plan-title mbr-fonts-style mb-3 display-5">
                            <strong>ESSENTIAL</strong>
                        </h6>
                        <div class="plan-price">
                            <p class="price mbr-fonts-style m-0 display-5"><strong>$1,000 - $4,999</strong></p>
                           
                        </div>
                    </div>
                    <div class="plan-body">
                        <div class="plan-list mb-4">
                            <ul class="list-group mbr-fonts-style list-group-flush display-7">
                                <li class="list-group-item">200% Return   </li>
                                <li class="list-group-item">After 30Hrs 
                                </li>
                                <li class="list-group-item">Deposit Included
                                </li>
                            </ul>
                        </div>
                        <div class="mbr-section-btn text-center">
                            <a href="/users/register" class="btn btn-primary display-4">Get started</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 align-center col-lg-4">
                <div class="plan">
                    <div class="plan-header">
                        <h6 class="plan-title mbr-fonts-style mb-3 display-5">
                            <strong>SELECTIVE</strong>
                        </h6>
                        <div class="plan-price">
                            <p class="price mbr-fonts-style m-0 display-5"><strong> $5,000 - $9,999</strong></p>
                           
                        </div>
                    </div>
                    <div class="plan-body">
                        <div class="plan-list mb-4">
                            <ul class="list-group mbr-fonts-style list-group-flush display-7">
                                <li class="list-group-item">200% Return   </li>
                                <li class="list-group-item">After 48Hrs 
                                </li>
                                <li class="list-group-item">Deposit Included
                                </li>
                            </ul>
                        </div>
                        <div class="mbr-section-btn text-center">
                            <a href="/users/register" class="btn btn-primary display-4">Get started</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 align-center col-lg-4">
                <div class="plan">
                    <div class="plan-header">
                        <h6 class="plan-title mbr-fonts-style mb-3 display-5">
                            <strong>CREST</strong>
                        </h6>
                        <div class="plan-price">
                            <p class="price mbr-fonts-style m-0 display-5"><strong>$10,000+ </strong></p>
                           
                        </div>
                    </div>
                    <div class="plan-body">
                        <div class="plan-list mb-4">
                            <ul class="list-group mbr-fonts-style list-group-flush display-7">
                                <li class="list-group-item">300% Return   </li>
                                <li class="list-group-item">After 72Hrs 
                                </li>
                                <li class="list-group-item">Deposit Included
                                </li>
                            </ul>
                        </div>
                        <div class="mbr-section-btn text-center">
                            <a href="/users/register" class="btn btn-primary display-4">Get started</a>
                        </div>
                    </div>
                </div>
            </div>
           
            
        </div>
    </div>
</section>

<section class="footer1 cid-stAxw18Xy1" once="footers" id="footer1-8">

    <% include ./partials/footer %>
   
</section><section style="background-color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; color:#aaa; font-size:12px; padding: 0; align-items: center; display: none;"><a href="https://mobirise.site/f" style="flex: 1 1; height: 3rem; padding-left: 1rem;"></a><p style="flex: 0 0 auto; margin:0; padding-right:1rem;">Made with Mobirise - <a href="https://mobirise.site/l" style="color:#aaa;">Click here</a></p></section><script src="assets/web/assets/jquery/jquery.min.js"></script>  <script src="assets/popper/popper.min.js"></script>  <script src="assets/tether/tether.min.js"></script>  <script src="assets/bootstrap/js/bootstrap.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/dropdown/js/nav-dropdown.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>  <script src="assets/theme/js/script.js"></script>  
  <!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/606ec261f7ce182709383e59/1f2oaek03';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
  
</body>
</html>