
<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.3.4, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.3.4, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Home</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
  <section class="menu menu2 cid-stAxaKDqvg" once="menu" id="menu2-0">

    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div style="padding: 0; margin-left: -2px; width: 100vw; border: transparent;" >
            <script src="https://widgets.coingecko.com/coingecko-coin-price-marquee-widget.js"></script>
            <coingecko-coin-price-marquee-widget  coin-ids="bitcoin,ethereum,eos,ripple,litecoin" currency="usd" background-color="#ffffff" locale="en" font-color="#11336e"></coingecko-coin-price-marquee-widget>
        </div>
        <div class="container">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="/">
                        <img src="assets/images/logo.png" alt="Mobirise" style="height: 3rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-7" href="/">Pine Analytica..</a></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-black display-4" href="/about">
                            About us</a></li>
                    <li class="nav-item"><a class="nav-link link text-black display-4" href="/services">
                            Services</a></li>
                            <li class="nav-item dropdown"><a class="nav-link link text-black dropdown-toggle display-4" href="/services" data-toggle="dropdown-submenu" aria-expanded="false">Sector</a><div class="dropdown-menu"><a class="text-black dropdown-item display-4" href="/real-estate">Real Estate</a><a class="text-black dropdown-item display-4" href="/financial-services" aria-expanded="false">Financial Market</a><a class="text-black dropdown-item display-4" href="/cryptocurrency" aria-expanded="false">cryptocurrency</a><a class="text-black dropdown-item display-4" href="/health-care" aria-expanded="false">Health Care</a><a class="text-black dropdown-item display-4" href="/information-technology" aria-expanded="false">Infomation technology</a></div></li>
                    <li class="nav-item dropdown"><a class="nav-link link text-black dropdown-toggle display-4" href="#" data-toggle="dropdown-submenu" aria-expanded="false">What we do</a><div class="dropdown-menu"><a class="text-black dropdown-item display-4" href="/investment-philosophy">Investment philosophy</a><a class="text-black dropdown-item display-4" href="/investment-process" aria-expanded="true">Investment Process</a></div></li>
                    <li class="nav-item"><a class="nav-link link text-black display-4" href="/plans"> Plans</a>
                    </li>
                  </ul>
                
                <div class="navbar-buttons mbr-section-btn">
                    <a class="btn btn-primary display-4" href="/users/login">Log In</a>
                        <a class="btn btn-primary display-4" href="/users/register">
                          Register</a>
                </div>
            </div>
        </div>
      </nav>
  
   
   
</section>

<section class="header5 cid-stAxeFDrpb mbr-fullscreen" id="header5-2">
    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);"></div>
    

    <div class="container">
       
        <div class="row justify-content-center">
            <div class="col-12 col-lg-7">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>Pine Analytica.</strong></h1>
                
                <p class="mbr-text mbr-white mbr-fonts-style display-7">
                    Pine Analytica. is a privately-held investment management firm empowering financial advisors to help their clients achieve better outcomes. From wealth accumulation to risk-based and income-oriented strategies, we offer a range of dynamic, multi-asset class solutions to help financial advisors meet the changing needs of investors.
                </p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-primary display-4" href="/users/login">See More</a> <a class="btn btn-primary-outline display-4" href="/users/register" style="color: rgb(255, 255, 255);">Get Started&nbsp; &gt;</a></div>
            </div>
        </div>
    </div>
</section>

<section class="features16 cid-stAxjcD4a1" id="features17-5">
    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/sq1.jpg" alt="Mobirise">
                    </div>
                </div>
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-5">
                            <strong>Who We Are</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            Pine Analytica.s is a company founded by International team of experts in project management and the financial markets, associated with highly trained staffs in the educational area with the purpose of helping people from all over the world to master the necessary knowledge of trading for success, supported by the most advanced technology and professionals oriented towards the achievement of building your goals and giving you the wonderful life of financial independence. Brinker is a decentralized company that operates transparently. <br><br>They manage capital and investments globally through strategic alliances with the most recognized institutions in the financial markets. The offices and business registers are located in Illinois, USA with professional traders networking in different countries across the world. We work hard to make sure our clients make the best trading and investment decisions. <br><br>
                            Our broad range of services enable you to get the best guidance, advice and resources to build a more profitable future. Our investors are our number one priority, our offices all over the world offer help, advice and guidance when you need it.
                        </p>
                        <div class="mbr-section-btn mt-3">
                            <a class="btn btn-primary display-4" href="https://mobiri.se">
                                Learn more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="features4 cid-stAxgSgmaI" id="features4-4">
    
    
    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Invest Today!</strong></h4>
            
        </div>
        <div class="row mt-4">
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/invest.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">WEALTH PLANNING</h6>
                        <h5 class="item-title mbr-fonts-style display-5"><strong>Put the future in focus.</strong></h5>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">No matter what the future brings, we can offer you foresight in a world in flux. We’ll work with you to keep your financial goals on track, and your future within sight.</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn item-btn btn-black display-7" target="_blank">Start Now
                            &gt;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/wealth.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">
                            INVESTMENTS
                        </h6>
                        <h5 class="item-title mbr-fonts-style display-5"><strong>Achieve your financial goals</strong></h5>
                       
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">We offer a diverse range of products, services and tailored solutions that suit your approach to investment and help you achieve your financial goals.</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn item-btn btn-black display-7" target="_blank">Start Now
                            &gt;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/lend.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">BORROWING
                        </h6>
                        <h5 class="item-title mbr-fonts-style display-5"><strong>Financing that fits your personal needs</strong></h5>
                      
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Find the right lending solution for you – whether you need a straightforward loan facility or have more complex requirements, with help from your Lending Specialist.

                            <br></p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn item-btn btn-black display-7" target="_blank">Start Now
                            &gt;</a></div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="info3 cid-stAxpH5GIr" id="info3-6">

    

    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(160, 172, 196);">
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-12 col-lg-10">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <h4 class="card-title mbr-fonts-style align-center mb-3 display-1">
                            <strong>Let Us Work For You</strong>
                        </h4>
                        <p class="mbr-text mbr-fonts-style mb-3 display-7">
                            We help people, businesses and institutions build, preserve and manage wealth so they can pursue their financial goals. </p>
                        <div class="mbr-section-btn mt-3">
                            <a class="btn btn-primary display-4" href="/users/register">
                                Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="features1 cid-stM33JDkCw" id="features1-y">
    

    
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                    <strong>Why Choose Pine Analytica.
                    </strong>
                    <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5">We have a unique approach to income generation. We build innovative wealth creation products.</h5>
                </h3>
                
            </div>
        </div>
        <div class="row">
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-idea mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>Investment access
                            </strong></h5>
                        <p class="card-text mbr-fonts-style display-7">We took a look at the typical investor journey and knew something had to change. We are creating a fundamental paradigm shift by providing investors access to investments previously available to the top 1%.</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-briefcase mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>Asset protection
                            </strong></h5>
                        <p class="card-text mbr-fonts-style display-7">Asset protection With our Customer Protection Guarantee, we reimburse you for losses from unauthorized activity in your accounts. We also participate in asset protection programs.</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-protect theme-2 mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>Security & Privacy</strong></h5>
                        <p class="card-text mbr-fonts-style display-7">We understand the importance when it comes to the security of your family and your assets. That's why we use the latest technology to help protect your personal information and financial transactions.</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-globe mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>We are pioneersin mordern investment </strong></h5>
                        <p class="card-text mbr-fonts-style display-7">We’re early industry pioneers and have been around since 2011, successfully processed more than 800 million dollars in transactions and available in over 40 countries.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features5 cid-stAxJG2YYQ" id="features6-a">

    

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-12 col-lg-6">
                <div class="card-wrapper mbr-flex">
                    <div class="card-box align-left">
                        
                        <h5 class="card-title mbr-fonts-style align-left mb-3 display-5">
                            <strong>Professional Support</strong>
                        </h5>
                        <p class="mbr-text mbr-fonts-style mb-3 display-4">
                            We have the best support team you can think of. We are always here to help you out in your investment process.</p>
                        <div class="mbr-section-btn">
                            <a href="/users/register" class="btn btn-primary display-4">Get Started</a>
                        </div>
                    </div>
                    <div class="img-wrapper img1 align-center">
                        <span class="mbr-iconfont mobi-mbri-paper-plane mobi-mbri"></span>
                    </div>
                </div>
            </div>

            <div class="card col-12 col-lg-6">
                <div class="card-wrapper mbr-flex">
                    <div class="card-box align-left">
                        
                        <h5 class="card-title mbr-fonts-style align-left mb-3 display-5">
                            <strong>Experienced Management </strong>
                        </h5>
                        <p class="mbr-text mbr-fonts-style mb-3 display-4">
                            We are equipped with the best professionals in the investment system. We have over 7 years of experienced team of experts.</p>
                        <div class="mbr-section-btn">
                            <a href="https://mobiri.se" class="btn btn-primary display-4">Learn more</a>
                        </div>
                    </div>
                    <div class="img-wrapper img2 align-center">
                        <span class="mbr-iconfont mobi-mbri-users mobi-mbri"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="team1 cid-stAxtczc5u" id="team1-7">
    

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2">
                    <strong>Our team</strong>
                </h3>
                
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card-wrap">
                    <div class="image-wrap">
                        <img src="assets/images/1.jpg">
                    </div>
                    <div class="content-wrap">
                        <h5 class="mbr-section-title card-title mbr-fonts-style align-center m-0 display-5">
                            <strong>Philip  minthz</strong>
                        </h5>
                        <h6 class="mbr-role mbr-fonts-style align-center mb-3 display-4">
                            <strong>Founder & Chief Executive Officer</strong>
                        </h6>
                        
                        
                        
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card-wrap">
                    <div class="image-wrap">
                        <img src="assets/images/2.jpg">
                    </div>
                    <div class="content-wrap">
                        <h5 class="mbr-section-title card-title mbr-fonts-style align-center m-0 display-5">
                            <strong>Sarah Palmer</strong>
                        </h5>
                        <h6 class="mbr-role mbr-fonts-style align-center mb-3 display-4">
                            <strong>Director of Finance</strong>
                        </h6>
                        
                        
                        
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card-wrap">
                    <div class="image-wrap">
                        <img src="assets/images/4.jpg">
                    </div>
                    <div class="content-wrap">
                        <h5 class="mbr-section-title card-title mbr-fonts-style align-center m-0 display-5">
                            <strong>Dave glazman</strong>
                        </h5>
                        <h6 class="mbr-role mbr-fonts-style align-center mb-3 display-4">
                            <strong>Software Engineer and Chief Security Officer

                            </strong>
                        </h6>
                        
                        
                        
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card-wrap">
                    <div class="image-wrap">
                        <img src="assets/images/3.jpg">
                    </div>
                    <div class="content-wrap">
                        <h5 class="mbr-section-title card-title mbr-fonts-style align-center m-0 display-5">
                            <strong>Will O’Callagha</strong>
                        </h5>
                        <h6 class="mbr-role mbr-fonts-style align-center mb-3 display-7">
                            <strong>Director of Private Client
                            </strong>
                        </h6>
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content2 cid-stBKpWOHCQ" id="content2-x">
    
    
    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Our Blog</strong></h4>
            <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5">Read the recent blog posts about pineanalyitca and business world</h5>
        </div>
        <div class="row mt-4">
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/coinbase.jpeg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><a href="https://money.usnews.com/investing/stock-market-news/articles/2021-03-17/plug-stock-scandal-coinbases-68-billion-valuation" class="text-primary">Plug Stock Slips</a></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">
                            <strong>Johnathan fischer</strong><em> March 17, 2021</em></h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Federal Reserve, stocks erased early morning losses and finished higher on Wednesday, with all three major U.S. indices closing in the green.</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="https://money.usnews.com/investing/stock-market-news/articles/2021-03-17/plug-stock-scandal-coinbases-68-billion-valuation" class="btn item-btn btn-primary display-7" target="_blank">Read More
                            &gt;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/peloton.jpeg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><a href="https://money.usnews.com/investing/stock-market-news/articles/2021-03-18/peloton-stock-tumbles-williams-sonoma-shares-rise" class="text-primary">Peloton Stock Tumbles</a></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong> Susannah Snider, Senior Editor, , Financial Advisors</strong><em>&nbsp; March 18, 2021,</em></h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">MARKETS FELL THURSDAY, with the three major U.S. indices posting losses. The sell-off was led by the tech-heavy Nasdaq, which ended the day down 3%..<br>
                        </p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="https://money.usnews.com/investing/stock-market-news/articles/2021-03-18/peloton-stock-tumbles-williams-sonoma-shares-rise" class="btn btn-primary item-btn display-7" target="_blank">Read More
                            &gt;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/spac.jpeg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><a href="https://money.usnews.com/investing/investing-101/slideshows/what-is-a-spac-best-spacs-to-buy" class="text-primary">What Is a SPAC?</a></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>Jessica Anvil
                            </strong><em> March 18, 2021</em></h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Rather than dealing with the hassle of an initial public offering, more and more private companies are going public via a reverse merger courtesy of a SPAC</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="https://money.usnews.com/investing/investing-101/slideshows/what-is-a-spac-best-spacs-to-buy" class="btn btn-primary item-btn display-7" target="_blank">Read More
                            &gt;</a></div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="footer1 cid-stAxw18Xy1" once="footers" id="footer1-8">

    <% include ./partials/footer %>
   
</section><section style="background-color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; color:#aaa; font-size:12px; padding: 0; align-items: center; display: none;"><a href="https://mobirise.site/f" style="flex: 1 1; height: 3rem; padding-left: 1rem;"></a><p style="flex: 0 0 auto; margin:0; padding-right:1rem;">Made with Mobirise - <a href="https://mobirise.site/l" style="color:#aaa;">Click here</a></p></section><script src="assets/web/assets/jquery/jquery.min.js"></script>  <script src="assets/popper/popper.min.js"></script>  <script src="assets/tether/tether.min.js"></script>  <script src="assets/bootstrap/js/bootstrap.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/dropdown/js/nav-dropdown.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>  <script src="assets/theme/js/script.js"></script>  
   <!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/606ec261f7ce182709383e59/1f2oaek03';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script--> 
  
</body>
</html>